
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Буратіно</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Мальвіна</a>
                    <a class="nav-item nav-link active" href="/gallery.html">
                        Галерея <span class="sr-only">(current)</span>
                    </a>
                </div>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/login.html">Вхід</a>
                <a class="nav-item nav-link" href="/register.html">Реєстрація</a>
            </div>
        </nav>

        <h1 class="mt-3 text-center">
            Bakery
        </h1>
    </div>


    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>
